{%extends "layout.html"%}
{%block content%}
<div class="about">
        <h1>About Me</h1>
        <p>Hey there!
                Welcome to my personal website. I am Ishrat Jahan Epsi. I am a CSE student. This is my personal website where you can find information about me.
                
                <h2>Personal Information:</h2>        
                
                Name: Ishrat Jahan Epsi<br>
                Date of Birth: 25th October,1996<br>
                Religion: Islam<br>
                Blood Group: B+<br>
                Nationality: Bangladeshi<br>
                Permanent Address:Narayanganj,Dhaka<br><br>

                
                <h3>Education:</h3>
                2017-2021<br>
                Computer Science & Engineering(CSE):<br>
                Institue: Bangladesh Institute of Science & Technology<br>
                Semester: 6th<br><br>
                
                Higher Secondary Certificate(HSC):<br>
                Group: Science<br>
                GPA: 4.50<br>
                Board: Dhaka<br>
                Passing Year: 2016<br><br>
                
                Secondary School Certificate(SSC):<br>
                Group: Science<br>
                GPA: 4.63<br>
                Board: Dhaka<br>
                Passing Year: 2014<br><br>
                <h4> Skill:</h4>
                
                - MS word<br>
                - MS Excel<br>
                - MS Powerpoint<br>
                - Adobe Photoshop<br>
                - Adobe Illustrator<br>
                - Software Installation<br><br>
                <h5>Certification:</h5>
                
               
                * Cisco Networking Academy Skills Competiton Bangladesh<br>
                     Certificate of Participation: February 2020<br><br>
                * Ada Lovelace National Girls' Programming Contest 2020<br>
                    Certificate of Participation: 2nd January,2020<br><br>
                
                * The Python 3 Certification Course<br>
                    Certificate of Participation: 29 May,2020<br>
                 
                 
                 
                 
                 
                
                
                
                </p>
</div>
{%endblock%}